body{
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    color: white;
    background: linear-gradient(#a2d2ff, #efb0c9);

}
h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;
}
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#bday-age{
   
    background: #efb0c9;
    padding: 5px 10px ;
    border-radius: 5px;
    margin: 5px 0px 10px 0px ;
}
#bday-date{
    margin: 0;
    background: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
}


#profile-pp
{
    width: 150px;
    border-radius: 80%;
    border: 6px solid #efb0c9;
    margin-bottom: 10px;
}
.gift-section{
    margin-top: 50px;
}

.gift-hint{
    margin-top: 0;
}
.gift-title{
    margin-bottom: 8;
}



.gift-cover{
    width: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image:url("assets/giftcover.jpg");
    background-size: cover;
    height: 400px;
    margin: 0 auto;
    
}

#gift-cover-happy:hover{
    background-image: url("assets/happy-gif.gif");
   
}

 #gift-cover-hot:hover{
    background-image: url("assets/hot.gif");

} 

 #gift-cover-genius:hover{
    background-image: url("assets/genius.gif");

} 
 #gift-cover-badass:hover{
    background-image: url("assets/badass.gif");

} 
#gift-cover-cheers{
    height: 200px;
}
#gift-cover-cheers:hover{
    background-image: url("assets/cheers.gif");
}
#foot{
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px  ;
}

a{
  color: inherit; /* Inherits the color from the parent element */
}

